<div class="main-layout">
  <mat-toolbar color="primary" class="mat-elevation-z24">
    <div class="container">
      <button mat-button mat-icon-button fxLayout fxLayoutAlign="center center" routerLink="/dashboard">
        <mat-icon>arrow_upward</mat-icon>
      </button>

      <span fxFlex fxLayoutAlign="start center"> Розклад </span>
    </div>
    <div class="right container">
      <mat-icon>person</mat-icon>
      <span> Admin </span>
    </div>
  </mat-toolbar>

  <div class="schedule">

  </div>
</div>
